<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	</ion-buttons>
	<ion-title>{{sensor?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="sensor">
	<section class="chart-wrapper">
		<canvas #lineChart></canvas>
	</section>

	<ion-grid>
		<ion-row item-content>
			<ion-col>
				<ion-label position="floating">Date range from</ion-label>
				<ion-datetime class="date-range" #fromDate displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [value]="dateFrom | date:'yyyy-MM-dd'" (ionChange)="setDateFrom(fromDate.value)"></ion-datetime>
			</ion-col>
			<ion-col>
				<ion-label position="floating">to</ion-label>
				<ion-datetime class="date-range" #toDate displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [value]="dateTo | date:'yyyy-MM-dd'" (ionChange)="setDateTo(toDate.value)"></ion-datetime>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>