
.title {
	font-family: 'Share Tech Mono', monospace;
	font-size: 32px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
}

.subtitle {
	font-family: 'Share Tech Mono', monospace;
	font-size: 16px;
}

.value {
	font-family: 'Share Tech Mono', monospace;
	font-size: 20px;
}

.chart-wrapper {
	width: 100%;
    height: 300px;
    display: inline-block;
    margin: 20px auto 40px;
}

.date-range {
	color: blue;
	font-family: 'Share Tech Mono', monospace;
	font-size: 16px;
}