<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home"></ion-back-button>
		</ion-buttons>
		<ion-title>{{project?.name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content no-padding >
		<ion-card no-padding *ngFor="let site of sites" (click)="openSite(site)">
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<ion-row><ion-label color="primary">{{site.name}}</ion-label></ion-row>
					<ion-row><ion-label color="secondary">{{site.description}}</ion-label></ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
</ion-content>

<!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
	<ion-fab-button size="small" (click)="addSensor()" color="danger">
		<ion-icon name="add"></ion-icon>
	</ion-fab-button>
</ion-fab> -->

